<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>stockIT</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://api.fontshare.com/v2/css?f[]=familjen-grotesk@1&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#105b47">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <header class="min-h">
    <iconify-icon id="menu-toggle" icon="bitcoin-icons:menu-outline"></iconify-icon>
    <nav><a href="/stockit"><span>STOCK</span>IT</a>
      <div class="links-container"><a class="link" href="/stockit#market">MARKET</a><a class="link" href="/stockit#mobile">MOBILE APP</a><a class="link" href="/stockit#contact">SOCIALS</a></div>
      <search>
        <form action="/stockit/ticker" method="GET">
          <button type="submit" aria-label="Submit search for ticker">
            <iconify-icon inline icon="material-symbols:search-rounded"></iconify-icon>
          </button>
          <input type="text" id="symbol-search" name="symbol-search" placeholder="SEARCH BY TICKER" aria-label="Input symbol here to search" required />
        </form>
      </search>
    </nav>
  </header>
  <section id="overview">
    <h2><%= Symbol %></h2>
    <div class="container">
      <% if (errorMessage) { %>
      <p id="error"><%= errorMessage %></p>
      <% } else { %>
      <div id="tags">
        <p><span>Exchange:</span> <%= Exchange %></p>
        <p><span>Sector:</span> <%= Sector %></p>
        <p><span>Industry:</span> <%= Industry %></p>
        <p><span>Market Cap:</span> <%= MarketCapitalization %></p>
        <p><span>EPS:</span> <%= EPS %></p>
        <p><span>Profit Margin:</span> <%= ProfitMargin %></p>
        <p><span>Shares Outstanding:</span> <%= SharesOutstanding %></p>
        <p><span>Divdend Date:</span> <%= DividendDate %></p>
        <p><span>Trailing PE:</span> <%= TrailingPE %></p>
        <p><span>Forward PE:</span> <%= ForwardPE %></p>
      </div>
      <div id="desc">
        <h3><%= Name %></h3>
        <p><%= Description %></p>
      </div>
      <% }  %>
    </div>
  </section>

  <script src="/data.js"></script>
  <script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>

</body>

</html>